# Auto detect text files and perform LF normalization
* text=auto

# Ignore files for repository language
*.css linguist-detectable=false
*.js linguist-detectable=false
*.ts linguist-detectable=false
*.bat linguist-detectable=false